<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="5"/>
    <title>Info</title>
</head>
<body>
<table border="1">
    <tr>
        <th>NAME</th>
        <th>SIZE</th>
        <th>STATUS</th>
        <th>SPEED</th>
        <th>ETA</th>
        <th>AVG SPEED</th>
    </tr>
    <tr th:each="downloadInfo : ${torrentList}">
        <td th:text="${downloadInfo.getDownloadName()}">Unknown</td>
        <td th:text="${downloadInfo.getDownloadSize()+' KB'}">0</td>
        <td th:text="${downloadInfo.getDownloadedPercentage()+'%'}">0</td>
        <td th:text="${downloadInfo.getCurrentSpeed()+' KB/s'}">0</td>
        <td th:text="${downloadInfo.getEstimatedRemainingTime()+' s'}">0</td>
        <td th:text="${downloadInfo.getAverageSpeed()+' KB/s'}">0</td>
    </tr>
</table>
</body>
</html>